# Importing Liabraries

In [2]:
import pandas as pd
import numpy as np 
import os

# Importing Dataset

In [4]:
path = r'C:\Users\swapn\World Happiness Report'

In [5]:
 Year_15 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2015.csv', index_col = False)

In [6]:
 Year_16 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2016.csv', index_col = False)

In [7]:
 Year_17 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2017.csv', index_col = False)

In [8]:
 Year_18 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2018.csv', index_col = False)

In [9]:
 Year_19 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2019.csv', index_col = False)

In [10]:
 Year_20 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2020.csv', index_col = False)

In [11]:
 Year_21 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2021.csv', index_col = False)

In [12]:
 Year_22 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2022.csv', index_col = False)

# Data Cleaning & wrangling of all Dataset

 1 Dataset of Year (2015)

In [15]:
Year_15.shape

(158, 12)

In [16]:
Year_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [17]:
Year_15.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [18]:
#remove unnecessary columns
Year_15.drop(['Standard Error'], axis=1, inplace=True)

In [19]:
Year_15.head(5)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [20]:
# add new column
Year_15 ['Year'] = 2015

In [21]:
Year_15.head(5)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [22]:
Year_15.rename(columns = {'Happiness Rank':'Rank', 'Family':'Family (Social Support)', 'Freedom':'Freedom (Life Choices)', 'Generosity': 'Donations to Charity'}, inplace = True)

In [23]:
Year_15.head ()

,Country,Region,Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [24]:
# checking the null value in data 
Year_15.isnull().sum()

Country                          0
Region                           0
Rank                             0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
Dystopia Residual                0
Year                             0
dtype: int64

In [25]:
# checking duplicates
Year_15[Year_15.duplicated()]

Empty DataFrame
Columns: [Country, Region, Rank, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity, Dystopia Residual, Year]
Index: []

In [26]:
Year_15_clean = Year_15.dropna()

In [27]:
Year_15_clean.shape

(158, 12)

In [28]:
Year_15_clean.describe()

,Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity,Dystopia Residual,Year
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.0
mean,79.493671,5.375734,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977,2015.0
std,45.754363,1.145010,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550,0.0
min,1.000000,2.839000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,2015.0
25%,40.250000,4.526000,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410,2015.0
50%,79.500000,5.232500,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415,2015.0
75%,118.750000,6.243750,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415,2015.0
max,158.000000,7.587000,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140,2015.0

In [29]:
Year_15_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Rank                           158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Economy (GDP per Capita)       158 non-null    float64
 5   Family (Social Support)        158 non-null    float64
 6   Health (Life Expectancy)       158 non-null    float64
 7   Freedom (Life Choices)         158 non-null    float64
 8   Trust (Government Corruption)  158 non-null    float64
 9   Donations to Charity           158 non-null    float64
 10  Dystopia Residual              158 non-null    float64
 11  Year                           158 non-null    int64
dtypes: float64(8), int64(2), object(2)
memory usage: 14.9+ KB

In [30]:
Year_15_clean = Year_15_clean[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity', 'Dystopia Residual']]

In [31]:
Year_15_clean.drop(['Dystopia Residual'], axis=1, inplace=True)

In [32]:
Year_15_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           158 non-null    int64
 1   Year                           158 non-null    int64
 2   Country                        158 non-null    object
 3   Region                         158 non-null    object
 4   Happiness Score                158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family (Social Support)        158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom (Life Choices)         158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Donations to Charity           158 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.7+ KB

 2 Dataset of Year (2016)

In [34]:
Year_16.shape

(157, 13)

In [35]:
Year_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [36]:
Year_16.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [37]:
Year_16.drop(['Lower Confidence Interval', 'Upper Confidence Interval'], axis=1, inplace=True)

In [38]:
Year_16.head ()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [39]:
Year_16.rename(columns = {'Happiness Rank':'Rank', 'Family':'Family (Social Support)', 'Freedom':'Freedom (Life Choices)', 'Generosity': 'Donations to Charity'}, inplace = True)

In [40]:
# checking the null value in data 
Year_16.isnull().sum()

Country                          0
Region                           0
Rank                             0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
Dystopia Residual                0
dtype: int64

In [41]:
# checking duplicates
Year_16[Year_16.duplicated()]

Empty DataFrame
Columns: [Country, Region, Rank, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity, Dystopia Residual]
Index: []

In [42]:
# Add new column
Year_16 ['Year'] = 2016

In [43]:
Year_16

,Country,Region,Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,2016
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,2016
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,2016
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2016
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2016

In [44]:
# Change the order of the columns
Year_16 = Year_16[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity', 'Dystopia Residual']]

In [45]:
Year_16.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity,Dystopia Residual
0,1,2016,Denmark,Western Europe,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,2,2016,Switzerland,Western Europe,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,3,2016,Iceland,Western Europe,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,4,2016,Norway,Western Europe,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,5,2016,Finland,Western Europe,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [46]:
# drop the other missing values
Year_16_clean = Year_16.dropna()

In [47]:
Year_16_clean.shape

(157, 12)

In [48]:
Year_16_clean.head()

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity,Dystopia Residual
0,1,2016,Denmark,Western Europe,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,2,2016,Switzerland,Western Europe,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,3,2016,Iceland,Western Europe,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,4,2016,Norway,Western Europe,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,5,2016,Finland,Western Europe,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [49]:
# dropping unnecessary column 
Year_16_clean.drop(['Dystopia Residual'], axis=1, inplace=True)

In [50]:
Year_16_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,157.000000,157.0,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,2016.0,5.382185,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635
std,45.466030,0.0,1.141674,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756
min,1.000000,2016.0,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,2016.0,4.404000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570
50%,79.000000,2016.0,5.314000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450
75%,118.000000,2016.0,6.269000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850
max,157.000000,2016.0,7.526000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710

 3. Dataset of Year (2017)

In [52]:
Year_17.shape

(155, 12)

In [53]:
Year_17.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [54]:
Year_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [55]:
#remove unnecessary columns
Year_17.drop(['Whisker.high', 'Whisker.low'], axis=1, inplace=True)

In [56]:
# add new column
Year_17 ['Year'] = 2017

In [57]:
Year_17.describe()

,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.0
mean,78.000000,5.354019,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238,2017.0
std,44.888751,1.131230,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028,0.0
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914,2017.0
25%,39.500000,4.505500,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291,2017.0
50%,78.000000,5.279000,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910,2017.0
75%,116.500000,6.101500,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654,2017.0
max,155.000000,7.537000,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485,2017.0

In [58]:
# Remane the columns

In [59]:
Year_17.rename(columns = {'Happiness.Rank':'Rank', 'Happiness.Score':'Happiness Score', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)', 'Family':'Family (Social Support)', 'Health..Life.Expectancy.':'Health (Life Expectancy)','Freedom':'Freedom (Life Choices)', 'Generosity': 'Donations to Charity', 'Trust..Government.Corruption.':'Trust (Government Corruption)'}, inplace = True)

In [60]:
# Correcting country name 
Year_17['Country'] = Year_17['Country'].replace('South Sudan', 'Sudan')

In [61]:
Year_17['Country'] = Year_17['Country'].replace('Taiwan Province of China', 'Taiwan')

In [62]:
Year_17['Country'] = Year_17['Country'].replace('Hong Kong S.A.R., China', 'Hong Kong')

In [63]:
# derive Region according to country names using loc()
Year_17.loc[Year_17['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'

In [64]:
Year_17.loc[Year_17['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [65]:
Year_17.loc[Year_17['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'

In [66]:
Year_17.loc[Year_17['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [67]:
Year_17.loc[Year_17['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [68]:
Year_17.loc[Year_17['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'

In [69]:
Year_17.loc[Year_17['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'

In [70]:
Year_17.loc[Year_17['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'

In [71]:
Year_17.loc[Year_17['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe']), 'Region'] = 'Sub-Saharan Africa'

In [72]:
Year_17.loc[Year_17['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [73]:
Year_17.head(5)

,Country,Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Donations to Charity,Trust (Government Corruption),Dystopia.Residual,Year,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,Western Europe

In [74]:
Year_17.rename(columns = {'Dystopia.Residual': 'Dystopia Residual'}, inplace = True)

In [75]:
Year_17 = Year_17[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity', 'Dystopia Residual']]

In [76]:
Year_17.head()

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity,Dystopia Residual
0,1,2017,Norway,Western Europe,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,2,2017,Denmark,Western Europe,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,3,2017,Iceland,Western Europe,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,4,2017,Switzerland,Western Europe,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,5,2017,Finland,Western Europe,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

In [77]:
# checking the null data
Year_17.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           4
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
Dystopia Residual                0
dtype: int64

In [78]:
print("Missing Data:\n", Year_17[Year_17.isnull().any(axis=1)])

Missing Data:
      Rank  Year    Country Region  Happiness Score  Economy (GDP per Capita)  \
49     50  2017     Belize    NaN            5.956                  0.907975
81     82  2017  Venezuela    NaN            5.250                  1.128431
92     93  2017    Somalia    NaN            5.151                  0.022643
110   111  2017    Namibia    NaN            4.574                  0.964434

     Family (Social Support)  Health (Life Expectancy)  \
49                  1.081418                  0.450192
81                  1.431338                  0.617144
92                  0.721151                  0.113989
110                 1.098471                  0.338612

     Freedom (Life Choices)  Trust (Government Corruption)  \
49                 0.547509                       0.096581
81                 0.153997                       0.064491
92                 0.602127                       0.282410
110                0.520304                       0.093147

     Donations to Charity  Dystopia Residual
49               0.240016           2.631956
81               0.065020           1.789464
92               0.291631           3.117485
110              0.077134           1.481890

In [79]:
# Correcting missing data
Year_17.loc[Year_17['Country'].isin(['Belize', 'Venezuela']), 'Region'] = 'Latin America and Caribbean'

In [80]:
Year_17.loc[Year_17['Country'].isin(['Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [81]:
# checking the null data
Year_17.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
Dystopia Residual                0
dtype: int64

In [82]:
# check for duplicates
Year_17[Year_17.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity, Dystopia Residual]
Index: []

In [83]:
# drop the missing values
Year_17_clean = Year_17.dropna()

In [84]:
# dropping unnecessary column 
Year_17_clean.drop(['Dystopia Residual'], axis=1, inplace=True)

In [85]:
Year_17_clean.shape

(155, 11)

In [86]:
Year_17_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,155.000000,155.0,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,2017.0,5.354019,0.984718,1.188898,0.551341,0.408786,0.123120,0.246883
std,44.888751,0.0,1.131230,0.420793,0.287263,0.237073,0.149997,0.101661,0.134780
min,1.000000,2017.0,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.500000,2017.0,4.505500,0.663371,1.042635,0.369866,0.303677,0.057271,0.154106
50%,78.000000,2017.0,5.279000,1.064578,1.253918,0.606042,0.437454,0.089848,0.231538
75%,116.500000,2017.0,6.101500,1.318027,1.414316,0.723008,0.516561,0.153296,0.323762
max,155.000000,2017.0,7.537000,1.870766,1.610574,0.949492,0.658249,0.464308,0.838075

In [87]:
Year_17_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           155 non-null    int64
 1   Year                           155 non-null    int64
 2   Country                        155 non-null    object
 3   Region                         155 non-null    object
 4   Happiness Score                155 non-null    float64
 5   Economy (GDP per Capita)       155 non-null    float64
 6   Family (Social Support)        155 non-null    float64
 7   Health (Life Expectancy)       155 non-null    float64
 8   Freedom (Life Choices)         155 non-null    float64
 9   Trust (Government Corruption)  155 non-null    float64
 10  Donations to Charity           155 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.4+ KB

 4 Dataset of Year (2018)

In [89]:
Year_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [90]:
Year_18.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [91]:
Year_18.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [92]:
Year_18.rename(columns = {'Overall rank':'Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Social support':'Family (Social Support)', 'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom (Life Choices)', 'Generosity':'Donations to Charity', 'Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [93]:
# add new column
Year_18 ['Year'] = 2018

In [94]:
# Correcting country name 
Year_18['Country'] = Year_18['Country'].replace('South Sudan', 'Sudan')
Year_18['Country'] = Year_18['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [95]:
# derive Region according to country names using loc()
Year_18.loc[Year_18['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'

In [96]:
Year_18.loc[Year_18['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [97]:
Year_18.loc[Year_18['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'

In [98]:
Year_18.loc[Year_18['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [99]:
Year_18.loc[Year_18['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [100]:
Year_18.loc[Year_18['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'

In [101]:
Year_18.loc[Year_18['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'

In [102]:
Year_18.loc[Year_18['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'

In [103]:
Year_18.loc[Year_18['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [104]:
Year_18.loc[Year_18['Country'].isin(['North Cyprus','Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [105]:
Year_18.head()

,Rank,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Donations to Charity,Trust (Government Corruption),Year,Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,Western Europe
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,Western Europe
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,Western Europe
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,Western Europe

In [106]:
Year_18 = Year_18[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [107]:
Year_18.head(5)

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
0,1,2018,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,2,2018,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,3,2018,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,4,2018,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,5,2018,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.357,0.256

In [108]:
# checking the null value in data
Year_18.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           1
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    1
Donations to Charity             0
dtype: int64

In [109]:
print("Missing Data:\n", Year_18[Year_18.isnull().any(axis=1)])

Missing Data:
     Rank  Year               Country                           Region  \
19    20  2018  United Arab Emirates  Middle East and Northern Africa
57    58  2018       Northern Cyprus                              NaN

    Happiness Score  Economy (GDP per Capita)  Family (Social Support)  \
19            6.774                     2.096                    0.776
57            5.835                     1.229                    1.211

    Health (Life Expectancy)  Freedom (Life Choices)  \
19                     0.670                   0.284
57                     0.909                   0.495

    Trust (Government Corruption)  Donations to Charity
19                            NaN                 0.186
57                          0.154                 0.179

In [110]:
print("Missing Data:\n", Year_18[Year_18.isnull().any(axis=1)])

Missing Data:
     Rank  Year               Country                           Region  \
19    20  2018  United Arab Emirates  Middle East and Northern Africa
57    58  2018       Northern Cyprus                              NaN

    Happiness Score  Economy (GDP per Capita)  Family (Social Support)  \
19            6.774                     2.096                    0.776
57            5.835                     1.229                    1.211

    Health (Life Expectancy)  Freedom (Life Choices)  \
19                     0.670                   0.284
57                     0.909                   0.495

    Trust (Government Corruption)  Donations to Charity
19                            NaN                 0.186
57                          0.154                 0.179

In [111]:
Year_18['Country'] = Year_18['Country'].replace('Northern Cyprus', 'North Cyprus')

In [112]:
Year_18.loc[Year_18['Country'].isin(['North Cyprus']), 'Region'] = 'Western Europe'

In [113]:
print("Missing Data:\n", Year_18[Year_18.isnull().any(axis=1)])

Missing Data:
     Rank  Year               Country                           Region  \
19    20  2018  United Arab Emirates  Middle East and Northern Africa

    Happiness Score  Economy (GDP per Capita)  Family (Social Support)  \
19            6.774                     2.096                    0.776

    Health (Life Expectancy)  Freedom (Life Choices)  \
19                      0.67                   0.284

    Trust (Government Corruption)  Donations to Charity
19                            NaN                 0.186

In [114]:
# check for duplicates
Year_18[Year_18.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [115]:
# drop the other missing values
Year_18_clean = Year_18.dropna()

In [116]:
Year_18_clean.shape

(155, 11)

In [117]:
Year_18_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,155.000000,155.0,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.877419,2018.0,5.366897,0.883677,1.216058,0.596877,0.455606,0.112000,0.180974
std,45.076463,0.0,1.117433,0.380942,0.301286,0.248312,0.162367,0.096492,0.098789
min,1.000000,2018.0,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.500000,2018.0,4.451500,0.612500,1.075500,0.420500,0.357500,0.051000,0.109000
50%,79.000000,2018.0,5.358000,0.940000,1.258000,0.643000,0.493000,0.082000,0.173000
75%,117.500000,2018.0,6.154000,1.192500,1.464000,0.778500,0.579000,0.137000,0.240000
max,156.000000,2018.0,7.632000,1.649000,1.644000,1.030000,0.724000,0.457000,0.598000

In [118]:
Year_18_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           155 non-null    int64
 1   Year                           155 non-null    int64
 2   Country                        155 non-null    object
 3   Region                         155 non-null    object
 4   Happiness Score                155 non-null    float64
 5   Economy (GDP per Capita)       155 non-null    float64
 6   Family (Social Support)        155 non-null    float64
 7   Health (Life Expectancy)       155 non-null    float64
 8   Freedom (Life Choices)         155 non-null    float64
 9   Trust (Government Corruption)  155 non-null    float64
 10  Donations to Charity           155 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 14.5+ KB

 5. Dataset of Year (2019)

In [120]:
# Shape of the Dataframe
Year_19.shape

(156, 9)

In [121]:
# Info of dataframe
Year_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [122]:
# Rename the columns
Year_19.rename(columns = {'Overall rank':'Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Social support':'Family (Social Support)', 'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom (Life Choices)', 'Generosity':'Donations to Charity', 'Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [123]:
# Correcting country name 
Year_19['Country'] = Year_19['Country'].replace('Northern Cyprus', 'North Cyprus')
Year_19['Country'] = Year_19['Country'].replace('North Macedonia', 'Macedonia')
# Correcting country name 
Year_19['Country'] = Year_19['Country'].replace('South Sudan', 'Sudan')
Year_19['Country'] = Year_19['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [124]:
# add new column
Year_19 ['Year'] = 2019

In [125]:
#derive Region according to country names using loc()
Year_19.loc[Year_19['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'

In [126]:
Year_19.loc[Year_19['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [127]:
Year_19.loc[Year_19['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'

In [128]:
Year_19.loc[Year_19['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [129]:
Year_19.loc[Year_19['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [130]:
Year_19.loc[Year_19['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'

In [131]:
Year_19.loc[Year_19['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'

In [132]:
Year_19.loc[Year_19['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'

In [133]:
Year_19.loc[Year_19['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Gambia','Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [134]:
Year_19.loc[Year_19['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [135]:
#change the order of columns
Year_19 = Year_19[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [136]:
# check for duplicates
Year_19[Year_19.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [137]:
Year_19.rename(columns = {'Generosity':'Donations to Charity'}, inplace = True)

In [138]:
Year_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           156 non-null    int64
 1   Year                           156 non-null    int64
 2   Country                        156 non-null    object
 3   Region                         156 non-null    object
 4   Happiness Score                156 non-null    float64
 5   Economy (GDP per Capita)       156 non-null    float64
 6   Family (Social Support)        156 non-null    float64
 7   Health (Life Expectancy)       156 non-null    float64
 8   Freedom (Life Choices)         156 non-null    float64
 9   Trust (Government Corruption)  156 non-null    float64
 10  Donations to Charity           156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

In [139]:
# drop the other missing values
Year_19_clean = Year_19.dropna()

In [140]:
Year_19_clean.shape

(156, 11)

In [141]:
Year_19_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,156.000000,156.0,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,2019.0,5.407096,0.905147,1.208814,0.725244,0.392571,0.110603,0.184846
std,45.177428,0.0,1.113120,0.398389,0.299191,0.242124,0.143289,0.094538,0.095254
min,1.000000,2019.0,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,2019.0,4.544500,0.602750,1.055750,0.547750,0.308000,0.047000,0.108750
50%,78.500000,2019.0,5.379500,0.960000,1.271500,0.789000,0.417000,0.085500,0.177500
75%,117.250000,2019.0,6.184500,1.232500,1.452500,0.881750,0.507250,0.141250,0.248250
max,156.000000,2019.0,7.769000,1.684000,1.624000,1.141000,0.631000,0.453000,0.566000

In [142]:
Year_19_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           156 non-null    int64
 1   Year                           156 non-null    int64
 2   Country                        156 non-null    object
 3   Region                         156 non-null    object
 4   Happiness Score                156 non-null    float64
 5   Economy (GDP per Capita)       156 non-null    float64
 6   Family (Social Support)        156 non-null    float64
 7   Health (Life Expectancy)       156 non-null    float64
 8   Freedom (Life Choices)         156 non-null    float64
 9   Trust (Government Corruption)  156 non-null    float64
 10  Donations to Charity           156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

 6.Dataset of Year (2019)

In [144]:
# Shape of the Dataframe
Year_19.shape

(156, 11)

In [145]:
# Info of dataframe
Year_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           156 non-null    int64
 1   Year                           156 non-null    int64
 2   Country                        156 non-null    object
 3   Region                         156 non-null    object
 4   Happiness Score                156 non-null    float64
 5   Economy (GDP per Capita)       156 non-null    float64
 6   Family (Social Support)        156 non-null    float64
 7   Health (Life Expectancy)       156 non-null    float64
 8   Freedom (Life Choices)         156 non-null    float64
 9   Trust (Government Corruption)  156 non-null    float64
 10  Donations to Charity           156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

In [146]:
# add new column
Year_19 ['Year'] = 2019

In [147]:
# Rename the columns
Year_19.rename(columns = {'Overall rank':'Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Social support':'Family (Social Support)', 'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom (Life Choices)', 'Generosity':'Donations to Charity', 'Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [148]:
# Correcting country name 
Year_19['Country'] = Year_19['Country'].replace('Northern Cyprus', 'North Cyprus')
Year_19['Country'] = Year_19['Country'].replace('North Macedonia', 'Macedonia')
# Correcting country name 
Year_19['Country'] = Year_19['Country'].replace('South Sudan', 'Sudan')
Year_19['Country'] = Year_19['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [149]:
#derive Region according to country names using loc()
Year_19.loc[Year_19['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'

In [150]:
Year_19.loc[Year_19['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [151]:
Year_19.loc[Year_19['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [152]:
Year_19.loc[Year_19['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [153]:
Year_19.loc[Year_19['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [154]:
Year_19.loc[Year_19['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'

In [155]:
Year_19.loc[Year_19['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'

In [156]:
Year_19.loc[Year_19['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'

In [157]:
Year_19.loc[Year_19['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Gambia','Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [158]:
Year_19.loc[Year_19['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [159]:
Year_19 = Year_19[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [160]:
#change the order of columns
Year_19 = Year_19[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [161]:
# check for duplicates
Year_19[Year_19.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [162]:
# checking the null data
Year_19.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [163]:
Year_19.head()

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
0,1,2019,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2,2019,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,3,2019,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,4,2019,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,5,2019,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [164]:
# drop the other missing values
Year_19_clean = Year_19.dropna()

In [165]:
Year_19_clean.shape

(156, 11)

In [166]:
Year_19_clean.describe ()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,156.000000,156.0,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,2019.0,5.407096,0.905147,1.208814,0.725244,0.392571,0.110603,0.184846
std,45.177428,0.0,1.113120,0.398389,0.299191,0.242124,0.143289,0.094538,0.095254
min,1.000000,2019.0,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,2019.0,4.544500,0.602750,1.055750,0.547750,0.308000,0.047000,0.108750
50%,78.500000,2019.0,5.379500,0.960000,1.271500,0.789000,0.417000,0.085500,0.177500
75%,117.250000,2019.0,6.184500,1.232500,1.452500,0.881750,0.507250,0.141250,0.248250
max,156.000000,2019.0,7.769000,1.684000,1.624000,1.141000,0.631000,0.453000,0.566000

In [167]:
Year_19_clean.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           156 non-null    int64
 1   Year                           156 non-null    int64
 2   Country                        156 non-null    object
 3   Region                         156 non-null    object
 4   Happiness Score                156 non-null    float64
 5   Economy (GDP per Capita)       156 non-null    float64
 6   Family (Social Support)        156 non-null    float64
 7   Health (Life Expectancy)       156 non-null    float64
 8   Freedom (Life Choices)         156 non-null    float64
 9   Trust (Government Corruption)  156 non-null    float64
 10  Donations to Charity           156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

 6. Dataset of Year (2020)

In [169]:
# Shape of the Dataframe
Year_20.shape

(153, 20)

In [170]:
Year_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                153 non-null    object
 1   Regional indicator                          153 non-null    object
 2   Ladder score                                153 non-null    float64
 3   Standard error of ladder score              153 non-null    float64
 4   upperwhisker                                153 non-null    float64
 5   lowerwhisker                                153 non-null    float64
 6   Logged GDP per capita                       153 non-null    float64
 7   Social support                              153 non-null    float64
 8   Healthy life expectancy                     153 non-null    float64
 9   Freedom to make life choices                153 non-null    float64
 10  Generosity                                  153 non-null    float64
 11  Perceptions of corruption                   153 non-null    float64
 12  Ladder score in Dystopia                    153 non-null    float64
 13  Explained by: Log GDP per capita            153 non-null    float64
 14  Explained by: Social support                153 non-null    float64
 15  Explained by: Healthy life expectancy       153 non-null    float64
 16  Explained by: Freedom to make life choices  153 non-null    float64
 17  Explained by: Generosity                    153 non-null    float64
 18  Explained by: Perceptions of corruption     153 non-null    float64
 19  Dystopia + residual                         153 non-null    float64
dtypes: float64(18), object(2)
memory usage: 24.0+ KB

In [171]:
Year_20.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,153.00000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,1.530000e+02,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,5.47324,0.053538,5.578175,5.368304,9.295706,0.808721,64.445529,0.783360,-0.014568,0.733120,1.972317e+00,0.868771,1.155607,0.692869,0.463583,0.189375,0.130718,1.972317
std,1.11227,0.018183,1.096823,1.128631,1.201588,0.121453,7.057848,0.117786,0.151809,0.175172,1.559417e-15,0.372416,0.286866,0.254094,0.141172,0.100401,0.113097,0.563638
min,2.56690,0.025902,2.628270,2.505530,6.492642,0.319460,45.200001,0.396573,-0.300907,0.109784,1.972317e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.257241
25%,4.72410,0.040698,4.826248,4.603149,8.350645,0.737217,58.961712,0.714839,-0.127015,0.683019,1.972317e+00,0.575862,0.986718,0.495443,0.381457,0.115006,0.055805,1.629928
50%,5.51500,0.050606,5.607728,5.430644,9.456313,0.829204,66.305145,0.799805,-0.033665,0.783122,1.972317e+00,0.918549,1.203987,0.759818,0.483293,0.176745,0.098435,2.046272
75%,6.22850,0.060677,6.363886,6.138881,10.265124,0.906747,69.289192,0.877709,0.085429,0.849151,1.972317e+00,1.169229,1.387139,0.867249,0.576665,0.255510,0.163064,2.350267
max,7.80870,0.120590,7.869766,7.747634,11.450681,0.974670,76.804581,0.974998,0.560664,0.935585,1.972317e+00,1.536676,1.547567,1.137814,0.693270,0.569814,0.533162,3.440810

In [172]:
# add new column
Year_20 ['Year'] = 2020

In [173]:
# Remove unnecessary columns
Year_20.drop(['Standard error of ladder score', 'upperwhisker','lowerwhisker', 'Logged GDP per capita', 'Social support','Healthy life expectancy','Freedom to make life choices', 'Generosity', 'Perceptions of corruption','Ladder score in Dystopia'], axis=1, inplace=True)

In [174]:
# rename columns
Year_20.rename(columns = {'Country name':'Country', 'Regional indicator':'Region', 'Ladder score':'Happiness Score', 'Explained by: Log GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support':'Family (Social Support)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity':'Donations to Charity', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [175]:
# Add the "Rank" column
Year_20['Rank'] = range(1, len(Year_20) + 1)

In [176]:
#remove unnecessary columns
Year_20.drop(['Dystopia + residual'], axis=1, inplace=True)

In [177]:
# change the order of columns
Year_20 = Year_20[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [178]:
# checking the null data
Year_20.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [179]:
# check for duplicates
Year_20[Year_20.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [180]:
# drop the other missing values
Year_20_clean = Year_20.dropna()

In [181]:
Year_20_clean.shape

(153, 11)

In [182]:
Year_20_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,153.000000,153.0,153.00000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,77.000000,2020.0,5.47324,0.868771,1.155607,0.692869,0.463583,0.130718,0.189375
std,44.311398,0.0,1.11227,0.372416,0.286866,0.254094,0.141172,0.113097,0.100401
min,1.000000,2020.0,2.56690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,2020.0,4.72410,0.575862,0.986718,0.495443,0.381457,0.055805,0.115006
50%,77.000000,2020.0,5.51500,0.918549,1.203987,0.759818,0.483293,0.098435,0.176745
75%,115.000000,2020.0,6.22850,1.169229,1.387139,0.867249,0.576665,0.163064,0.255510
max,153.000000,2020.0,7.80870,1.536676,1.547567,1.137814,0.693270,0.533162,0.569814

In [183]:
Year_20_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           153 non-null    int64
 1   Year                           153 non-null    int64
 2   Country                        153 non-null    object
 3   Region                         153 non-null    object
 4   Happiness Score                153 non-null    float64
 5   Economy (GDP per Capita)       153 non-null    float64
 6   Family (Social Support)        153 non-null    float64
 7   Health (Life Expectancy)       153 non-null    float64
 8   Freedom (Life Choices)         153 non-null    float64
 9   Trust (Government Corruption)  153 non-null    float64
 10  Donations to Charity           153 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.3+ KB

 7. Dataset of Year (2021)

In [185]:
# check the shape of the Dataframe
Year_21.shape

(149, 20)

In [186]:
# check the info of dataframe
Year_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [187]:
# add new column
Year_21 ['Year'] = 2021

In [188]:
#remove unnecessary columns

Year_21.drop(['Standard error of ladder score', 'upperwhisker','lowerwhisker', 'Logged GDP per capita', 'Social support','Healthy life expectancy','Freedom to make life choices', 'Generosity', 'Perceptions of corruption','Ladder score in Dystopia'], axis=1, inplace=True)

In [189]:
Year_21.head(5)

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2.839,2021
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2.967,2021
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2.798,2021

In [190]:
# rename columns
Year_21.rename(columns = {'Country name':'Country', 'Regional indicator':'Region', 'Ladder score':'Happiness Score', 'Explained by: Log GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support':'Family (Social Support)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity':'Donations to Charity', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [191]:
# Add the "Rank" column
Year_21['Rank'] = range(1, len(Year_21) + 1)

In [192]:
#remove unnecessary columns
Year_21.drop(['Dystopia + residual'], axis=1, inplace=True)

In [193]:
#change the order of columns
Year_21 = Year_21[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [194]:
# checking the null data
Year_21.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [195]:
# check for duplicates
Year_21[Year_21.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [196]:
# drop the other missing values
Year_21_clean = Year_21.dropna()

In [197]:
Year_21_clean.shape

(149, 11)

In [198]:
Year_21_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,149.000000,149.0,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,75.000000,2021.0,5.532839,0.977161,0.793315,0.520161,0.498711,0.135141,0.178047
std,43.156691,0.0,1.073924,0.404740,0.258871,0.213019,0.137888,0.114361,0.098270
min,1.000000,2021.0,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,38.000000,2021.0,4.852000,0.666000,0.647000,0.357000,0.409000,0.060000,0.105000
50%,75.000000,2021.0,5.534000,1.025000,0.832000,0.571000,0.514000,0.101000,0.164000
75%,112.000000,2021.0,6.255000,1.323000,0.996000,0.665000,0.603000,0.174000,0.239000
max,149.000000,2021.0,7.842000,1.751000,1.172000,0.897000,0.716000,0.547000,0.541000

In [199]:
Year_21_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           149 non-null    int64
 1   Year                           149 non-null    int64
 2   Country                        149 non-null    object
 3   Region                         149 non-null    object
 4   Happiness Score                149 non-null    float64
 5   Economy (GDP per Capita)       149 non-null    float64
 6   Family (Social Support)        149 non-null    float64
 7   Health (Life Expectancy)       149 non-null    float64
 8   Freedom (Life Choices)         149 non-null    float64
 9   Trust (Government Corruption)  149 non-null    float64
 10  Donations to Charity           149 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 12.9+ KB

 # 8. Dataset of Year (2022)

In [201]:
Year_22.shape

(147, 12)

In [202]:
Year_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   RANK                                        147 non-null    int64
 1   Country                                     147 non-null    object
 2   Happiness score                             146 non-null    object
 3   Whisker-high                                146 non-null    object
 4   Whisker-low                                 146 non-null    object
 5   Dystopia (1.83) + residual                  146 non-null    object
 6   Explained by: GDP per capita                146 non-null    object
 7   Explained by: Social support                146 non-null    object
 8   Explained by: Healthy life expectancy       146 non-null    object
 9   Explained by: Freedom to make life choices  146 non-null    object
 10  Explained by: Generosity                    146 non-null    object
 11  Explained by: Perceptions of corruption     146 non-null    object
dtypes: int64(1), object(11)
memory usage: 13.9+ KB

In [203]:
Year_22.describe()

             RANK
count  147.000000
mean    74.000000
std     42.579338
min      1.000000
25%     37.500000
50%     74.000000
75%    110.500000
max    147.000000

In [204]:
# add new column
Year_22 ['Year'] = 2022

In [205]:
#remove unnecessary columns
Year_22.drop(['Whisker-high','Whisker-low', 'Dystopia (1.83) + residual'], axis=1, inplace=True)

In [206]:
# rename columns
Year_22.rename(columns = {'Country name':'Country', 'Regional indicator':'Region', 'Ladder score':'Happiness Score', 'Explained by: Log GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support':'Family (Social Support)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity':'Donations to Charity', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [207]:
# Add the "Rank" column
Year_22['Rank'] = range(1, len(Year_22) + 1)

In [208]:
Year_22.describe()

             RANK    Year        Rank
count  147.000000   147.0  147.000000
mean    74.000000  2022.0   74.000000
std     42.579338     0.0   42.579338
min      1.000000  2022.0    1.000000
25%     37.500000  2022.0   37.500000
50%     74.000000  2022.0   74.000000
75%    110.500000  2022.0  110.500000
max    147.000000  2022.0  147.000000

In [209]:
Year_22.drop(['Rank'], axis=1, inplace=True)

In [210]:
Year_22.describe()

             RANK    Year
count  147.000000   147.0
mean    74.000000  2022.0
std     42.579338     0.0
min      1.000000  2022.0
25%     37.500000  2022.0
50%     74.000000  2022.0
75%    110.500000  2022.0
max    147.000000  2022.0

In [211]:
# Correcting country name 
Year_22['Country'] = Year_22['Country'].replace('Northern Cyprus', 'North Cyprus')
Year_22['Country'] = Year_22['Country'].replace('North Macedonia', 'Macedonia')
Year_22['Country'] = Year_22['Country'].replace('South Sudan', 'Sudan')
Year_22['Country'] = Year_22['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [212]:
# Correcting country name 
Year_22['Country'] = Year_22['Country'].replace('Luxembourg*', 'Luxembourg')
Year_22['Country'] = Year_22['Country'].replace('Czechia', 'Czech Republic')
Year_22['Country'] = Year_22['Country'].replace('Taiwan Province of China', 'Taiwan')
Year_22['Country'] = Year_22['Country'].replace('Guatemala*', 'Guatemala')
Year_22['Country'] = Year_22['Country'].replace('Kuwait*', 'Kuwait')
Year_22['Country'] = Year_22['Country'].replace('Belarus*', 'Belarus')
Year_22['Country'] = Year_22['Country'].replace('North Cyprus*', 'North Cyprus')
Year_22['Country'] = Year_22['Country'].replace('Hong Kong S.A.R. of China', 'Hong Kong')
Year_22['Country'] = Year_22['Country'].replace('Libya*', 'Libya')
Year_22['Country'] = Year_22['Country'].replace('Turkmenistan*', 'Turkmenistan')
Year_22['Country'] = Year_22['Country'].replace('Congo', 'Congo (Brazzaville)')
Year_22['Country'] = Year_22['Country'].replace('Niger*', 'Niger')

In [213]:
# Correcting country name 
Year_22['Country'] = Year_22['Country'].replace('Comoros*', 'Comoros')
Year_22['Country'] = Year_22['Country'].replace('Palestinian Territories*', 'Palestinian Territories')
Year_22['Country'] = Year_22['Country'].replace('Eswatini, Kingdom of*', 'Eswatini, Kingdom of')
Year_22['Country'] = Year_22['Country'].replace('Madagascar*', 'Madagascar')
Year_22['Country'] = Year_22['Country'].replace('Chad*', 'Chad')
Year_22['Country'] = Year_22['Country'].replace('Yemen*', 'Yemen')
Year_22['Country'] = Year_22['Country'].replace('Mauritania*', 'Mauritania')
Year_22['Country'] = Year_22['Country'].replace('Lesotho*', 'Lesotho')
Year_22['Country'] = Year_22['Country'].replace('Botswana*', 'Botswana')
Year_22['Country'] = Year_22['Country'].replace('Rwanda*', 'Rwanda')
Year_22['Country'] = Year_22['Country'].replace('Azerbaijan*', 'Azerbaijan')
Year_22['Country'] = Year_22['Country'].replace('Gambia*', 'Gambia')
Year_22['Country'] = Year_22['Country'].replace('Liberia*', 'Liberia')

In [214]:
# derive Region according to country names using loc()
Year_22.loc[Year_22['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'

In [215]:
Year_22.loc[Year_22['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [216]:
Year_22.loc[Year_22['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'

In [217]:
Year_22.loc[Year_22['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [218]:
Year_22.loc[Year_22['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [219]:
Year_22.loc[Year_22['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'

In [220]:
Year_22.loc[Year_22['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'

In [221]:
Year_22.loc[Year_22['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'

In [222]:
Year_22.loc[Year_22['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Gambia','Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [223]:
Year_22.loc[Year_22['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [224]:
#change the order of columns
Year_22 = Year_22[['RANK', 'Year', 'Country', 'Region', 'Happiness score', 'Explained by: GDP per capita', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [225]:
Year_22.head()

,RANK,Year,Country,Region,Happiness score,Explained by: GDP per capita,Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
0,1,2022,Finland,Western Europe,"7,821","1,892","1,258","0,775","0,736","0,534","0,109"
1,2,2022,Denmark,Western Europe,"7,636","1,953","1,243","0,777","0,719","0,532","0,188"
2,3,2022,Iceland,Western Europe,"7,557","1,936","1,320","0,803","0,718","0,191","0,270"
3,4,2022,Switzerland,Western Europe,"7,512","2,026","1,226","0,822","0,677","0,461","0,147"
4,5,2022,Netherlands,Western Europe,"7,415","1,945","1,206","0,787","0,651","0,419","0,271"

In [226]:
# rename columns
Year_22.rename(columns = {'Happiness score':'Happiness Score', 'RANK':'Rank', 'Explained by: Log GDP per capita':'Economy (GDP per Capita)'}, inplace = True)

In [227]:
Year_22.rename(columns = { 'Explained by: GDP per capita':'Economy (GDP per Capita)'}, inplace = True)

In [228]:
Year_22.head()

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
0,1,2022,Finland,Western Europe,"7,821","1,892","1,258","0,775","0,736","0,534","0,109"
1,2,2022,Denmark,Western Europe,"7,636","1,953","1,243","0,777","0,719","0,532","0,188"
2,3,2022,Iceland,Western Europe,"7,557","1,936","1,320","0,803","0,718","0,191","0,270"
3,4,2022,Switzerland,Western Europe,"7,512","2,026","1,226","0,822","0,677","0,461","0,147"
4,5,2022,Netherlands,Western Europe,"7,415","1,945","1,206","0,787","0,651","0,419","0,271"

In [229]:
# checking the null data
Year_22.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           2
Happiness Score                  1
Economy (GDP per Capita)         1
Family (Social Support)          1
Health (Life Expectancy)         1
Freedom (Life Choices)           1
Trust (Government Corruption)    1
Donations to Charity             1
dtype: int64

In [230]:
print("Missing Data:\n", Year_22[Year_22.isnull().any(axis=1)])

Missing Data:
      Rank  Year               Country Region Happiness Score  \
124   125  2022  Eswatini, Kingdom of    NaN           4,396
146   147  2022                    xx    NaN             NaN

    Economy (GDP per Capita) Family (Social Support) Health (Life Expectancy)  \
124                    1,274                   0,786                    0,197
146                      NaN                     NaN                      NaN

    Freedom (Life Choices) Trust (Government Corruption) Donations to Charity
124                  0,259                         0,154                0,038
146                    NaN                           NaN                  NaN

In [231]:
# Remove the missing data
Year_22 = Year_22.drop(124, axis=0)

In [232]:
Year_22 = Year_22.drop(146, axis=0)

In [233]:
print("Missing Data:\n", Year_22[Year_22.isnull().any(axis=1)])

Missing Data:
 Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [234]:
# check for duplicates
Year_22[Year_22.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [235]:
# drop the other missing values
Year_22_clean = Year_22.dropna()

In [236]:
Year_22_clean.shape

(145, 11)

In [237]:
Year_22_clean.describe()

             Rank    Year
count  145.000000   145.0
mean    73.144828  2022.0
std     42.218180     0.0
min      1.000000  2022.0
25%     37.000000  2022.0
50%     73.000000  2022.0
75%    109.000000  2022.0
max    146.000000  2022.0

In [238]:
Year_22_clean.rename(columns = { ' Happiness Score':'Happiness Score'}, inplace = True)

In [239]:
Year_22_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           145 non-null    int64
 1   Year                           145 non-null    int64
 2   Country                        145 non-null    object
 3   Region                         145 non-null    object
 4   Happiness Score                145 non-null    object
 5   Economy (GDP per Capita)       145 non-null    object
 6   Family (Social Support)        145 non-null    object
 7   Health (Life Expectancy)       145 non-null    object
 8   Freedom (Life Choices)         145 non-null    object
 9   Trust (Government Corruption)  145 non-null    object
 10  Donations to Charity           145 non-null    object
dtypes: int64(2), object(9)
memory usage: 13.6+ KB

In [240]:
# Convert the values in the column 2 from integers to strings. & also replace the comma with a decimal point
Year_22_clean['Happiness Score'] = Year_22_clean['Happiness Score'].astype(str).str.replace(',', '.').astype(float)

In [241]:
Year_22_clean['Economy (GDP per Capita)'] = Year_22_clean['Economy (GDP per Capita)'].astype(str).str.replace(',', '.').astype(float)

In [242]:
Year_22_clean['Family (Social Support)'] = Year_22_clean['Family (Social Support)'].astype(str).str.replace(',', '.').astype(float)

In [243]:
Year_22_clean['Health (Life Expectancy)'] = Year_22_clean['Health (Life Expectancy)'].astype(str).str.replace(',', '.').astype(float)

In [244]:
Year_22_clean['Freedom (Life Choices)'] = Year_22_clean['Freedom (Life Choices)'].astype(str).str.replace(',', '.').astype(float)

In [245]:
Year_22_clean['Trust (Government Corruption)'] = Year_22_clean['Trust (Government Corruption)'].astype(str).str.replace(',', '.').astype(float)

In [246]:
Year_22_clean['Donations to Charity'] = Year_22_clean['Donations to Charity'].astype(str).str.replace(',', '.').astype(float)

In [247]:
Year_22_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           145 non-null    int64
 1   Year                           145 non-null    int64
 2   Country                        145 non-null    object
 3   Region                         145 non-null    object
 4   Happiness Score                145 non-null    float64
 5   Economy (GDP per Capita)       145 non-null    float64
 6   Family (Social Support)        145 non-null    float64
 7   Health (Life Expectancy)       145 non-null    float64
 8   Freedom (Life Choices)         145 non-null    float64
 9   Trust (Government Corruption)  145 non-null    float64
 10  Donations to Charity           145 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.6+ KB

In [248]:
Year_22_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,145.000000,145.0,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,73.144828,2022.0,5.561559,1.411386,0.906690,0.588855,0.519007,0.154786,0.148131
std,42.218180,0.0,1.086306,0.422971,0.280914,0.173929,0.144763,0.127956,0.082581
min,1.000000,2022.0,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37.000000,2022.0,4.891000,1.094000,0.732000,0.467000,0.442000,0.068000,0.089000
50%,73.000000,2022.0,5.578000,1.452000,0.958000,0.623000,0.545000,0.116000,0.134000
75%,109.000000,2022.0,6.309000,1.793000,1.116000,0.720000,0.627000,0.200000,0.198000
max,146.000000,2022.0,7.821000,2.209000,1.320000,0.942000,0.740000,0.587000,0.468000

 9. Dataset of Year (2023)

In [250]:
Year_23 = pd.read_csv(r'C:\Users\swapn\World Happiness Report\02 Data\Original Data\2023.csv', index_col = False)

In [251]:
Year_23.shape

(137, 19)

In [252]:
Year_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                137 non-null    object
 1   Ladder score                                137 non-null    float64
 2   Standard error of ladder score              137 non-null    float64
 3   upperwhisker                                137 non-null    float64
 4   lowerwhisker                                137 non-null    float64
 5   Logged GDP per capita                       137 non-null    float64
 6   Social support                              137 non-null    float64
 7   Healthy life expectancy                     136 non-null    float64
 8   Freedom to make life choices                137 non-null    float64
 9   Generosity                                  137 non-null    float64
 10  Perceptions of corruption                   137 non-null    float64
 11  Ladder score in Dystopia                    137 non-null    float64
 12  Explained by: Log GDP per capita            137 non-null    float64
 13  Explained by: Social support                137 non-null    float64
 14  Explained by: Healthy life expectancy       136 non-null    float64
 15  Explained by: Freedom to make life choices  137 non-null    float64
 16  Explained by: Generosity                    137 non-null    float64
 17  Explained by: Perceptions of corruption     137 non-null    float64
 18  Dystopia + residual                         136 non-null    float64
dtypes: float64(18), object(1)
memory usage: 20.5+ KB

In [253]:
Year_23.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,136.000000,137.000000,137.000000,137.000000,1.370000e+02,137.000000,137.000000,136.000000,137.000000,137.000000,137.000000,136.000000
mean,5.539796,0.064715,5.666526,5.412971,9.449796,0.799073,64.967632,0.787394,0.022431,0.725401,1.778000e+00,1.406985,1.156212,0.366176,0.540000,0.148474,0.145898,1.777838
std,1.139929,0.023031,1.117421,1.163724,1.207302,0.129222,5.750390,0.112371,0.141707,0.176956,2.897173e-15,0.432963,0.326322,0.156691,0.149501,0.076053,0.126723,0.504390
min,1.859000,0.029000,1.923000,1.795000,5.527000,0.341000,51.530000,0.382000,-0.254000,0.146000,1.778000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.110000
25%,4.724000,0.047000,4.980000,4.496000,8.591000,0.722000,60.648500,0.724000,-0.074000,0.668000,1.778000e+00,1.099000,0.962000,0.248500,0.455000,0.097000,0.060000,1.555250
50%,5.684000,0.060000,5.797000,5.529000,9.567000,0.827000,65.837500,0.801000,0.001000,0.774000,1.778000e+00,1.449000,1.227000,0.389500,0.557000,0.137000,0.111000,1.848500
75%,6.334000,0.077000,6.441000,6.243000,10.540000,0.896000,69.412500,0.874000,0.117000,0.846000,1.778000e+00,1.798000,1.401000,0.487500,0.656000,0.199000,0.187000,2.078750
max,7.804000,0.147000,7.875000,7.733000,11.660000,0.983000,77.280000,0.961000,0.531000,0.929000,1.778000e+00,2.200000,1.620000,0.702000,0.772000,0.422000,0.561000,2.955000

In [254]:
Year_23.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110

In [255]:
# add new column
Year_23 ['Year'] = 2022

In [256]:
#remove unnecessary columns
Year_23.drop(['Standard error of ladder score', 'upperwhisker','lowerwhisker', 'Logged GDP per capita', 'Social support','Healthy life expectancy','Freedom to make life choices', 'Generosity', 'Perceptions of corruption','Ladder score in Dystopia'], axis=1, inplace=True)

In [257]:
# rename columns
Year_23.rename(columns = {'Country name':'Country', 'Ladder score':'Happiness Score', 'Explained by: Log GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support':'Family (Social Support)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity':'Donations to Charity', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [258]:
Year_23.head()

,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Donations to Charity,Trust (Government Corruption),Dystopia + residual,Year
0,Finland,7.804,1.888,1.585,0.535,0.772,0.126,0.535,2.363,2022
1,Denmark,7.586,1.949,1.548,0.537,0.734,0.208,0.525,2.084,2022
2,Iceland,7.530,1.926,1.620,0.559,0.738,0.250,0.187,2.250,2022
3,Israel,7.473,1.833,1.521,0.577,0.569,0.124,0.158,2.691,2022
4,Netherlands,7.403,1.942,1.488,0.545,0.672,0.251,0.394,2.110,2022

In [259]:
Year_23.drop(['Dystopia + residual'], axis=1, inplace=True)

In [260]:
Year_23.head()

,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Donations to Charity,Trust (Government Corruption),Year
0,Finland,7.804,1.888,1.585,0.535,0.772,0.126,0.535,2022
1,Denmark,7.586,1.949,1.548,0.537,0.734,0.208,0.525,2022
2,Iceland,7.530,1.926,1.620,0.559,0.738,0.250,0.187,2022
3,Israel,7.473,1.833,1.521,0.577,0.569,0.124,0.158,2022
4,Netherlands,7.403,1.942,1.488,0.545,0.672,0.251,0.394,2022

In [261]:
# derive Region according to country names using loc()
Year_23.loc[Year_23['Country'].isin(['Australia', 'New Zealand']), 'Region'] = 'Australia and New Zealand'

In [262]:
Year_23.loc[Year_23['Country'].isin(['Albania', 'Armenia', 'Azerbaijan', 'Belarus', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Estonia', 'Georgia', 'Hungary', 'Kazakhstan', 'Kosovo', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova', 'Montenegro', 'Poland','Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']), 'Region'] = 'Central and Eastern Europe'

In [263]:
Year_23.loc[Year_23['Country'].isin(['China', 'Hong Kong', 'Japan', 'Mongolia', 'South Korea', 'Taiwan']), 'Region'] = 'Eastern Asia'

In [264]:
Year_23.loc[Year_23['Country'].isin(['Argentina', 'Bolivia', 'Brazil', 'Belize', 'Venezuela', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic','Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Uruguay']), 'Region'] = 'Latin America and Caribbean'

In [265]:
Year_23.loc[Year_23['Country'].isin(['Algeria', 'Bahrain','Egypt','Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Oman', 'Palestinian Territories', 'Qatar', 'Saudi Arabia', 'Syria', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']), 'Region'] = 'Middle East and Northern Africa'

In [266]:
Year_23.loc[Year_23['Country'].isin(['Canada', 'United States']), 'Region'] = 'North America'

In [267]:
Year_23.loc[Year_23['Country'].isin(['Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore','Thailand', 'Vietnam']), 'Region'] = 'Southeastern Asia'

In [268]:
Year_23.loc[Year_23['Country'].isin(['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']), 'Region'] = 'Southern Asia'

In [269]:
Year_23.loc[Year_23['Country'].isin(['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Gambia','Somaliland region', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe', 'Somalia', 'Namibia']), 'Region'] = 'Sub-Saharan Africa'

In [270]:
Year_23.loc[Year_23['Country'].isin(['Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta', 'Netherlands', 'North Cyprus', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']), 'Region'] = 'Western Europe'

In [271]:
Year_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        137 non-null    object
 1   Happiness Score                137 non-null    float64
 2   Economy (GDP per Capita)       137 non-null    float64
 3   Family (Social Support)        137 non-null    float64
 4   Health (Life Expectancy)       136 non-null    float64
 5   Freedom (Life Choices)         137 non-null    float64
 6   Donations to Charity           137 non-null    float64
 7   Trust (Government Corruption)  137 non-null    float64
 8   Year                           137 non-null    int64
 9   Region                         131 non-null    object
dtypes: float64(7), int64(1), object(2)
memory usage: 10.8+ KB

In [272]:
# Add the "Rank" column
Year_23['Rank'] = range(1, len(Year_23) + 1)

In [273]:
#change the order of columns
Year_23 = Year_23[['Rank', 'Year', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Donations to Charity']]

In [274]:
Year_23.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           137 non-null    int64
 1   Year                           137 non-null    int64
 2   Country                        137 non-null    object
 3   Region                         131 non-null    object
 4   Happiness Score                137 non-null    float64
 5   Economy (GDP per Capita)       137 non-null    float64
 6   Family (Social Support)        137 non-null    float64
 7   Health (Life Expectancy)       136 non-null    float64
 8   Freedom (Life Choices)         137 non-null    float64
 9   Trust (Government Corruption)  137 non-null    float64
 10  Donations to Charity           137 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 11.9+ KB

In [275]:
# checking the null data
Year_23.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           6
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         1
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [276]:
print("Missing Data:\n", Year_23[Year_23.isnull().any(axis=1)])

Missing Data:
      Rank  Year                    Country Region  Happiness Score  \
17     18  2022                    Czechia    NaN            6.845
26     27  2022   Taiwan Province of China    NaN            6.535
81     82  2022  Hong Kong S.A.R. of China    NaN            5.308
86     87  2022            North Macedonia    NaN            5.254
98     99  2022         State of Palestine    NaN            4.908
105   106  2022                    Turkiye    NaN            4.614

     Economy (GDP per Capita)  Family (Social Support)  \
17                      1.823                    1.544
26                      1.890                    1.372
81                      1.951                    1.201
86                      1.498                    1.171
98                      1.144                    1.309
105                     1.714                    1.148

     Health (Life Expectancy)  Freedom (Life Choices)  \
17                      0.477                   0.693
26                      0.492                   0.562
81                      0.702                   0.407
86                      0.408                   0.515
98                        NaN                   0.416
105                     0.467                   0.125

     Trust (Government Corruption)  Donations to Charity
17                           0.050                 0.158
26                           0.178                 0.067
81                           0.390                 0.123
86                           0.020                 0.207
98                           0.067                 0.065
105                          0.096                 0.095

In [277]:
# Correcting country name 
Year_23['Country'] = Year_23['Country'].replace('Czechia', 'Czech Republic')
Year_23['Country'] = Year_23['Country'].replace('Taiwan Province of China', 'Taiwan')
# Correcting country name 
Year_23['Country'] = Year_23['Country'].replace('Hong Kong S.A.R. of China', 'Hong Kong')
Year_23['Country'] = Year_23['Country'].replace('North Macedonia', 'Macedonia')
Year_23['Country'] = Year_23['Country'].replace('State of Palestine', 'Palestinian Territories')

In [278]:
Year_23['Country'] = Year_23['Country'].replace('Turkiye', 'Turkey')

In [279]:
Year_23.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           6
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         1
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [280]:
print("Missing Data:\n", Year_23[Year_23.isnull().any(axis=1)])

Missing Data:
      Rank  Year                  Country Region  Happiness Score  \
17     18  2022           Czech Republic    NaN            6.845
26     27  2022                   Taiwan    NaN            6.535
81     82  2022                Hong Kong    NaN            5.308
86     87  2022                Macedonia    NaN            5.254
98     99  2022  Palestinian Territories    NaN            4.908
105   106  2022                   Turkey    NaN            4.614

     Economy (GDP per Capita)  Family (Social Support)  \
17                      1.823                    1.544
26                      1.890                    1.372
81                      1.951                    1.201
86                      1.498                    1.171
98                      1.144                    1.309
105                     1.714                    1.148

     Health (Life Expectancy)  Freedom (Life Choices)  \
17                      0.477                   0.693
26                      0.492                   0.562
81                      0.702                   0.407
86                      0.408                   0.515
98                        NaN                   0.416
105                     0.467                   0.125

     Trust (Government Corruption)  Donations to Charity
17                           0.050                 0.158
26                           0.178                 0.067
81                           0.390                 0.123
86                           0.020                 0.207
98                           0.067                 0.065
105                          0.096                 0.095

In [281]:
# Remove the missing data
Year_23 = Year_23.drop(98, axis=0)

In [282]:
print("Missing Data:\n", Year_23[Year_23.isnull().any(axis=1)])

Missing Data:
      Rank  Year         Country Region  Happiness Score  \
17     18  2022  Czech Republic    NaN            6.845
26     27  2022          Taiwan    NaN            6.535
81     82  2022       Hong Kong    NaN            5.308
86     87  2022       Macedonia    NaN            5.254
105   106  2022          Turkey    NaN            4.614

     Economy (GDP per Capita)  Family (Social Support)  \
17                      1.823                    1.544
26                      1.890                    1.372
81                      1.951                    1.201
86                      1.498                    1.171
105                     1.714                    1.148

     Health (Life Expectancy)  Freedom (Life Choices)  \
17                      0.477                   0.693
26                      0.492                   0.562
81                      0.702                   0.407
86                      0.408                   0.515
105                     0.467                   0.125

     Trust (Government Corruption)  Donations to Charity
17                           0.050                 0.158
26                           0.178                 0.067
81                           0.390                 0.123
86                           0.020                 0.207
105                          0.096                 0.095

In [644]:
Year_23.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           5
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [283]:
# check for duplicates
Year_23[Year_23.duplicated()]

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

In [284]:
# drop the other missing values
Year_23_clean = Year_23.dropna()

In [646]:
Year_23_clean.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [285]:
Year_23_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, 0 to 136
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           131 non-null    int64
 1   Year                           131 non-null    int64
 2   Country                        131 non-null    object
 3   Region                         131 non-null    object
 4   Happiness Score                131 non-null    float64
 5   Economy (GDP per Capita)       131 non-null    float64
 6   Family (Social Support)        131 non-null    float64
 7   Health (Life Expectancy)       131 non-null    float64
 8   Freedom (Life Choices)         131 non-null    float64
 9   Trust (Government Corruption)  131 non-null    float64
 10  Donations to Charity           131 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 12.3+ KB

In [286]:
Year_23_clean.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,131.000000,131.0,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,68.961832,2022.0,5.538076,1.394939,1.150046,0.360718,0.543985,0.146466,0.149817
std,39.917300,0.0,1.152380,0.435016,0.331135,0.155856,0.146964,0.126782,0.076750
min,1.000000,2022.0,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.500000,2022.0,4.681000,1.087500,0.952000,0.244000,0.462000,0.060000,0.100000
50%,68.000000,2022.0,5.703000,1.428000,1.227000,0.389000,0.558000,0.113000,0.138000
75%,103.500000,2022.0,6.332000,1.762500,1.401500,0.483000,0.657500,0.189500,0.199500
max,137.000000,2022.0,7.804000,2.200000,1.620000,0.622000,0.772000,0.561000,0.422000

In [287]:
Year_23_clean.shape

(131, 11)

In [288]:
Year_23_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [289]:
Year_22_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [290]:
Year_21_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [291]:
Year_20_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [292]:
Year_19_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [293]:
Year_18_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [294]:
Year_17_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [295]:
Year_16_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

In [296]:
Year_15_clean.columns

Index(['Rank', 'Year', 'Country', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family (Social Support)',
       'Health (Life Expectancy)', 'Freedom (Life Choices)',
       'Trust (Government Corruption)', 'Donations to Charity'],
      dtype='object')

# Export clean data frames (2015 to 2023) to preapared data

In [592]:
Year_15_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_15_clean.csv'))

In [594]:
Year_16_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_16_clean.csv'))

In [596]:
Year_17_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_17_clean.csv'))

In [598]:
Year_18_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_18_clean.csv'))

In [600]:
Year_19_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_19_clean.csv'))

In [602]:
Year_20_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_20_clean.csv'))

In [604]:
Year_21_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_21_clean.csv'))

In [606]:
Year_22_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_22_clean.csv'))

In [608]:
Year_23_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Year_23_clean.csv'))

In [ ]:
Year_23_clean.

# Merge the Dataframes

In [630]:
df_years = (Year_15_clean, Year_16_clean, Year_17_clean, Year_18_clean, Year_19_clean, Year_20_clean, Year_21_clean, Year_22_clean, Year_23_clean)

In [632]:
df_merged = pd.concat(df_years)

In [634]:
df_merged.head()

,Rank,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
0,1,2015,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2,2015,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,3,2015,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,4,2015,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,5,2015,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

# Exporting merge dataset in prepared data

In [636]:
#Exporting merge dataset in prepared data  
df_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'merged_dataset_2015to2022.csv'), index=False)

In [638]:
df = df_merged

In [640]:
df.shape

(1359, 11)

In [649]:
#Checking for nulls 
df.isnull().sum()

Rank                             0
Year                             0
Country                          0
Region                           0
Happiness Score                  0
Economy (GDP per Capita)         0
Family (Social Support)          0
Health (Life Expectancy)         0
Freedom (Life Choices)           0
Trust (Government Corruption)    0
Donations to Charity             0
dtype: int64

In [651]:
#Checking for duplicates
df_dups = df[df.duplicated()]
df_dups

Empty DataFrame
Columns: [Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Donations to Charity]
Index: []

# Descriptive Statistics

In [654]:
#Descriptive Statistics 
df.describe()

,Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Donations to Charity
count,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000
mean,76.613687,2018.787344,5.440273,1.015570,1.044639,0.584540,0.451025,0.132253,0.196725
std,44.110370,2.410022,1.118877,0.451591,0.331453,0.245394,0.156609,0.112538,0.113386
min,1.000000,2015.000000,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,2017.000000,4.594000,0.694145,0.832022,0.402024,0.356000,0.056884,0.115208
50%,76.000000,2019.000000,5.456200,1.038000,1.081820,0.613827,0.467735,0.097000,0.183000
75%,114.500000,2021.000000,6.254000,1.335144,1.298685,0.777840,0.569500,0.165890,0.253140
max,158.000000,2022.000000,7.842000,2.209000,1.644000,1.141000,0.772000,0.587000,0.838075

In [656]:
#Checking for mixed-type columns 
df.dtypes

Rank                               int64
Year                               int64
Country                           object
Region                            object
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family (Social Support)          float64
Health (Life Expectancy)         float64
Freedom (Life Choices)           float64
Trust (Government Corruption)    float64
Donations to Charity             float64
dtype: object

In [660]:
# Exporting Cleaned Dataframe
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_merged_dataset_2015to2022.csv'), index=False)